.imageStyle {
  width: 200px;
}
.backGroundStyle {
  background-color: #1abc9c;
  padding: 50px;
  color: white;
}
.icon {
  position: relative;
}
.icon::after {
  content: "";
  width: 100px;
  height: 2px;
  position: absolute;
  background-color: white;
  z-index: 33;
  top: 11px;
  transform: translateX(20px);
}
.icon::before {
  content: "";
  width: 100px;
  height: 2px;
  position: absolute;
  background-color: white;
  z-index: 33;
  top: 11px;
  transform: translateX(-120px);
}
